<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible">
        <title>Digital Methodology</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/digital_methodology.css">
    </head>
    <body>

    <div class="center">

        <h3 class="rainbow rainbow_text_animated">Digital Methodology</h3>
            <p>
                For my Digital Methodology project, I've chosen to do the Text Analysis module. 
                I feel it neccessary to add that I am torn between the Text Analysis module and the Networks module. Both are topics that I am interested in researching, and
                in many ways they can overlap. Another struggle I had was coming up with an analysis question for this project and ultimately an idea for Text Analysis came to mind
                before an idea for networks did.

                <br>
                <br>


                With that said, what I will be analyzing with text anaylsis is how music from the early 2000s is different than music from the 2010s. What I'm going to be looking at
                specifically is what the overall mood of the music is. For example, was music from the 2000s more sappy than music from the 2010s? The dataset I will be using is the
                top 10 songs from the 2000s and the top 10 songs from the 2010s according to <a href="https://top40weekly.com/top-100-songs-of-the-2000s/#2000-topsongslist">this website</a>
                for the 2000s music and <a href="https://www.bbc.com/news/entertainment-arts-52212579">this website</a> for the 2010s.

                <br>
                <br>

                In order to determine "mood", I will be using a sentiment analysis tool that I found while doing some research for this project. You can try it out yourself
                <a href="https://www.danielsoper.com/sentimentanalysis/default.aspx">here</a>. This is how the website explains how the tool works:
                <q>The tool computes a sentiment score that reflects the overall sentiment, tone, or emotional feeling of your input text. 
                Sentiment scores range from -100 to +100, where -100 indicates a very negative or serious tone and +100 indicates a very positive or enthusiastic tone.</q>

                I've embedded the the Google Sheet that I used to keep track of all the sentiment scores so that you can view the results for yourself. A few of the sentiment scores surprised
                me, but that's what makes this stuff interesting. Overall, what I gather from this is that people like more positive and enthusiastic. We, of course, already knew that, but it's
                nice to see it quantified and reinforced.

                <br>
                <br>

                Overall, I would have liked to go more in depth with this question. In a perfect world, where I have a lot more time, I would have made my own Python script to perform sentiment
                analysis on the lyrics, and I would have liked to visualize the data in a more appealing way than just a chart. I am really glad that I found the sentiment website that I did end
                up using because lots of sentiment and text analysis tools cost a lot of money because they are used by businesses for marketing campaigns and logistics. The only downside is that
                I don't know how Dr. Soper algorithmically goes about deducing sentiment. But hey, that isn't all bad, this just leaves room for improvement and maybe I'll revisit this and go more in depth
                at a later time. I did research how I might go about doing that and found 
                <a href="https://towardsdatascience.com/how-to-analyze-emotions-and-words-of-the-lyrics-from-your-favorite-music-artist-bbca10411283">this</a> website. He is using a much simpler dataset,
                but he is able to separate the songs by decade and visualizes them in a clean way.
            </p>
            <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRwA_82RJRXsi2VOwqQfgDh20slVuLsnj-ayWUMAiE3cN13qY4Z7q8K4lIYf3Yg6aWh1YabJe0LAtIp/pubhtml?widget=true&amp;headers=false" height="300" width="600"></iframe>

    </div>

    <div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >

    </body>
</html>