{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Add Blog Post</h1>
    <br />
    <div class="container shadow p-3 mb-5 bg-body rounded">
      <form method="POST">
        {{ form.hidden_tag() }}
        
        {{ form.title.label(class="form-label") }} 
        {{ form.title(class="form-control") }}
        <br/>

        {{ form.author.label(class="form-label") }}
        {{ form.author(class="form-control") }}
        <br/>
  
        {{ form.slug.label(class="form-label") }} 
        {{ form.slug(class="form-control") }}
        <br/>
  
        {{ form.content.label(class="form-label") }} 
        {{ form.content(class="form-control", rows="15") }}
        <br/>

        {{ form.post_pic.label(class="form-label") }} 
        {{ form.post_pic(class="form-control") }}
        <br/>
  
        {{ form.submit(class="btn btn-secondary") }}
      </form>
    </div>
  </div>

{% endblock %}