{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center">
    <h3>About Me</h3>

</div>

<div class="row">
    <div class="col">
        <img src="../static/cars_at_darlington.jpg" alt="A picture of some NASCAR cars coming out of Turn 4 at Darlington Speedway." class="img-fluid rounded">
        <img src="../static/kailly.jpg" alt="A shot of my calico cat, Kailly" class="img-fluid rounded">
    </div>
    <div class="col">
        <p>
            Hi! I'm using this space to tell you a little about myself. My name is Ryan Persinger. I am from a little town on the Middle Peninsula of Virginia called Mathews County.
            I currently attend the University of Mary Washington (UMW) and I major in Computer Science.
        </p>
        <p>
            I was first interested in computers when I was about 10 years old. My granddad is a pretty smart guy and I spent a summer with him teaching me about the internals of a computer.
            I continued to learn about the internals for years to come and eventually got the idea that I would build my own computer. Before that happened, I finally took the leap to transition
            from just learning about the hardware of a computer to learning about the software. I wrote some of my first lines of code in C# in a high school game development class around the age of 16 or 17.
            I'll be honest, at first a lot of the logic, scope, and fundamentals of programming went over my head. The summer after that school year I started from scratch and started learning
            how to code in Python. I would say that Python is now my strongest language (the website you are currently looking at uses the Flask framework for Python).
        </p>
        <p>
            I took this passion for computers and applied to colleges looking to major in Computer Science. I was accepted to UMW and declared my Computer Science major as soon as I was elligble.
            From there I've continued learning about all things computers both on my own and in the classroom.
        </p>
        <p>
            Now, in terms of hobbies, I like to try a lot of new things, so I think it's rare that something sticks in my interests for a prolonged period of time. Obviously, I enjoy programming
            and coding as a hobby, but I also enjoy spending time with my friends and family and my three cats, watching motorsports (F1, NASCAR, IMSA, IndyCar, etc.), playing video games, and taking road trips and
            going on adventures.
        </p>
    </div>
    <div class="col">
        <img src="../static/code_pic.jpg" alt="A picture of some html code" class="img-fluid rounded">
        <img src="../static/darlington.PANO.jpg" alt="A panoramic shot of Darlington Speedway in South Carolina" class="img-fluid rounded">
    </div>
  </div>
</div>
{% endblock %}